body{
    background-color: lightblue;
}

navbar {
    background-color: deepskyblue;
}

.nav-item{
    color: black;
    font-weight: bold;
}

.blog-card{
    background-color: #8ce3ff;
    border-style: solid;
}

#about-me{
    border-style: solid;
    background-color: #8ce3ff;
}